# Pandas Exercises for the Session

# 1. First Set of Exercises

# Exercise 1

1. Create two pandas Series with random numbers, add them together and assign the result to a new variable
2. Create two pandas Series with 5 random numbers each, and 3 countries as the index of each. Only two countries should match in the Series's indeces.

import pandas as pd
import numpy as np
import random

In [ ]:
import pandas as pd 
import numpy as np 
import random

In [ ]:
pd_series_one = pd.Series(data=np.arange(0,20), name = 'one_random' )
pd_series_two = pd.Series(data=np.arange (40, 80, 2), name= 'two_random')
pd_combined= pd_series_one + pd_series_two
pd_combined

0     40
1     43
2     46
3     49
4     52
5     55
6     58
7     61
8     64
9     67
10    70
11    73
12    76
13    79
14    82
15    85
16    88
17    91
18    94
19    97
dtype: int64

In [ ]:
series_one = pd.Series(data=np.random.randint(0, 50, 5), 
                 index=['Australia', 'Brasil', 'Slovakia', 'Brasil', 'Australia'])
series_two = pd.Series(data=np.random.randint(0, 50, 5), 
                 index=['Slovakia', 'Brasil', 'Slovakia', 'Brasil', 'Australia'])

series_two + series_one

Australia    48
Australia    24
Brasil       74
Brasil       49
Brasil       50
Brasil       25
Slovakia     75
Slovakia     51
dtype: int64



# part 1
pd_sery = pd.Series(data=np.arange(0, 20), name='random')
pd_sery_2 = pd.Series(data=np.arange(40, 80, 2), name='two_random')

pd_combined = pd_sery + pd_sery_2
pd_combined

# part 2

series_one = pd.Series(data=np.random.randint(0, 50, 5), 
                 index=['Australia', 'Fiji', 'Indonesia', 'Fiji', 'Australia'])
series_two = pd.Series(data=np.random.randint(0, 50, 5), 
                 index=['Australia', 'Russia', 'Australia', 'Russia', 'Fiji'])

series_two + series_one

no
pd_ser_1 = pd.randint[10,30,2]

# Exercise 2

1. Create a DataFrame using lists of lists.
2. Create a DataFrame using a NumPy matrix. Perform a computation with two columns and add the result as a new column in the DataFrame.

In [ ]:
matrix = np.ones((4, 3), dtype='int32') 
matrix 
df_matrix = pd.DataFrame(data=matrix, columns=['my_knowledge_in_python', 'in_numpy', 'in_pandas']) 
df_matrix 
df_matrix['improved_results'] = (df_matrix['my_knowledge_in_python'] + 1) + (df_matrix['in_numpy'] ** 55) 
df_matrix

   my_knowledge_in_python  in_numpy  in_pandas  improved_results
0                       1         1          1                 3
1                       1         1          1                 3
2                       1         1          1                 3
3                       1         1          1                 3

In [ ]:
list_one = list(range(20))
list_two = list(range(20, 40))
list_three = list(range(40, 60))

multiple_lists = [list_one, list_two, list_three]
df_lists = pd.DataFrame(zip(*multiple_lists), columns=['col1', 'col2', 'col3'])
df_lists.head()

   col1  col2  col3
0     0    20    40
1     1    21    41
2     2    22    42
3     3    23    43
4     4    24    44

In [ ]:
df_lists

    col1  col2  col3
0      0    20    40
1      1    21    41
2      2    22    42
3      3    23    43
4      4    24    44
5      5    25    45
6      6    26    46
7      7    27    47
8      8    28    48
9      9    29    49
10    10    30    50
11    11    31    51
12    12    32    52
13    13    33    53
14    14    34    54
15    15    35    55
16    16    36    56
17    17    37    57
18    18    38    58
19    19    39    59

# Exercise 3

1. Crate 3 Series with linearly spaced numbers each.
2. Create a DataFrame using the 3 Series you just created.

In [ ]:
series_one = pd.Series(np.random.randint(2, 40, 10), name='random_nums')
series_two = pd.Series(np.random.randint(1, 20, 10), name='random_nums2')
series_three = pd.Series(np.random.randint(3, 50, 10), name='random_nums3')
df_of_series = pd.concat([series_one, series_two, series_three], axis=1)
print(df_of_series)

   random_nums  random_nums2  random_nums3
0            3            13            15
1           33             4            27
2           26             4             9
3           31            12            28
4           25             5            28
5           23            16            25
6           10             6            24
7            4            16            20
8           11            16            37
9           25            18             6

# 2. Second Set of Exercises

# Exercise 1

1. Find a website with a structure resembling a table and read it into Python using pandas.
2. Inspect it using at least three of the methods covered in class.

# Exercise 2

Using the dataset you found on the first exercise, write down a list of issues you found during the inspection section. What could, or needs to be, improved from this dataset?

# Exercise 3

1. Use three descriptive statistics aggregation methods on at least one of your columns.
2. Write down your interpretation of the results.